.App {
  font-family: sans-serif;
  text-align: center;
}

.bgcolor {
  background-color: rgb(241 241 241);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 74px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

.desc {
  font-family: "Roboto", sans-serif;
  margin-top: 55px;
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

.shop_button {
  border: none;
  width: 223px;
  height: 72px;
  margin-top: 55px;
  top: 591px;
  color: rgba(255, 255, 255, 1);
  left: 298.45px;
  background: rgba(30, 40, 50, 1);
}

@media (max-width: 768px) {
  .shop_button {
    margin-bottom: 35px;
  }
}

.shop_icon {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

.shop_button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.custom-nav-link {
  color: #000000;
}

.collection-title {
  font-family: Roboto;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
}

.collection-description {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

@media (max-width: 576px) {
  .collection-title {
    font-size: 2.5rem;
  }

  .collection-description {
    font-size: 1.25rem;
  }
}

.bgImage {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: #0d4913;
  background-image: url("/public/images/andrey-zvyagintsev-EQj1ZMpq_VM-unsplash\ 1.png");
}

.bgImage::before {
  content: "";
  position: absolute;
  top: 5%;
  right: 0;
  width: 33%;
  height: 100%;
  background-image: url("/public/images/1024px-Zara_Logo\ 2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  opacity: 0.1;
}

.collection_button {
  border: none;
  width: 223px;
  height: 72px;
  margin-top: 55px;
  top: 591px;
  color: #000000;
  left: 298.45px;
  background: #ffffff;
}

@media (max-width: 575.98px) {
  .bgImage {
    background-position: 19% center;
  }
}

/* Small Devices (phones, 576px and up) */
@media (min-width: 576px) {
  .bgImage {
    background-position: 19% center;
  }
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bgImage {
    background-position: 19% center;
  }
}

/* Large Devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bgImage {
    background-position: 19% center;
  }
}

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bgImage {
    background-position: 19% center;
  }
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

/* footer */

.description-footer {
  line-height: 140%;
  font-family: "Open Sans", sans-serif;
}

.top_footer {
  font-family: "Open Sans", sans-serif;
  color: #292929;
}

ul {
  list-style-type: none;
  display: inline-block;
}

.top_footer h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.top_footer ul {
  margin-right: 22px;
}

.top_footer ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #292929;
}

.socialmedia a {
  border: 1px solid rgba(53, 161, 43, 0);
  font-size: 25px;
  padding: 0 10px 0 10px;
  color: white;
}

.bottomfooter {
  background-color: #1e2832;
}
